.search-form {
  font-weight: 500;
  padding: 20px;
  margin-bottom: 50px;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.search-form__input {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #e4f6f8;
  border-radius: 15px;
  border-color: #e4f6f8;
}
.search-form__button {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #62c2cc;
  border-radius: 20px;
  margin: 5px;
  color: #e4f6f8;
  border-color: #e4f6f8;
  width: 100px;
}
